In [12]:
# casefold


string1= "Welcome"
string1.casefold()

'welcome'

- capitalize   : first letter as capital
- upper        : all letters in upper case
- lower        : all letters in lower case
- casefold     : Case less comparision(lower case)

In [1]:
# count

strin = ("hi, how are you")
# How many 'a' are there
strin.count('a')

1

In [3]:
strin.count('hi')

1

In [13]:
stri1 = 'ola ola ola'
print(stri1.count('ola'))    #3
print(stri1.count('ola '))   #2
print(stri1.count('ol'))   #3
print(stri1.count('oa'))   #0

3
2
3
0

In [25]:
stri1 = 'ola ola ola'
print(stri1.count('a',4)) #we are counting the number of 'a' from index 4   ====>output:2
print(stri1.count('a',4,6)) #we are counting the number of 'a' from index 4 and end 6 excluding 6 ===>output:0
print(stri1.count('a',6)) #we are counting the number of 'a' from index 6 including the index 6   ====> output:2
print(stri1.count('A'.lower(),4))  #output:2
print(stri1.count('a'.upper(),4))  #output:0

2
0
2
2
0

In [27]:
# developer method how many 'ola' =======> Use index and slicing concept 
count = 0
for i in range(len(stri1)):
    if stri1[i:i+3] == 'ola':
        count+=1
print(count)

3

In [31]:
#$replace$

In [35]:
st = "welcome"
# replace 'l' with 'L'
st.replace('l','L')

'weLcome'

In [39]:
str1 = 'restart'
# replace 'r' with '$'
str1.replace('r','$')

'$esta$t'

In [41]:
str1 = 'restart'
# replace 'r' with '$'
str1.replace('r','$',1)

'$estart'

In [45]:
str1 = 'restart'
# replace 'r' with '$'
str1.replace('r','$',-1)  # -1 is just a flag

'$esta$t'

In [61]:
str1 = 'restart'
s1 = str1[0]
s2 = str1[1:].replace('r','$')
s1 + s2
# replace 'r' with '$'
# str1.replace('r','$')

'resta$t'

In [69]:
str1[::-1].replace('r','$',1)[::-1]

'resta$t'

In [3]:
# index
str1 = 'Welcome Python'
str1.index('c')

3

In [73]:
str1.index('z')
# error occurs when char is not in the string

ValueError: substring not found

In [79]:
str1 = 'Welcome Python'
# index of 'c' 

for i in range(len(str1)):
    if str1[i] == 'a':
        print(i)

In [81]:
str1 = 'Welcome Python'
# index of 'c' 

for i in range(len(str1)):
    if str1[i] == 'o':
        print(i)

4
12

In [33]:
string2 = 'hi hi hi deepaka'
# string2.index('a')  # only first occurance of 'a' is 13
i1= string2.index('a',string2.index('a')) # occurance of 1 times is 13 
print(i1)
string2.index('a',i1+1) #  2nd occurance of 2 times is 13 & 15

13

15

In [80]:
string1 = 'hai hai hai hai'
# I want to first occurance of 'a'
i1 = string1.index('a')
i2 = string1.index('a',i1+ 1)
string1.index('a',i2+1)    # 3rd occurance is 9

9

In [ ]:
stri = 'welcome hello hello hello'
# stri.index('l')
# stri.index('l',stri.index('l')+1)
stri.index('l',stri.index('l',stri.index('l')+1)+1)
stri.index('l',stri.index('l',stri.index('l',stri.index('l')+1)+1)+1)

In [134]:
# take one string
# apply shift+tab
# read what it says
# implement that what is occuring

st = 'hello Deepak'
st.find('a')
st.find('z')
# if substring not found in find > then -1 is displayed no error occured
st.index('z') 
# if substring not found in find > then  displayed  error occured
st.count('z')
# if substring not found in find > then 0 is displayed no error occured

-1

- capitalize/upper/lower/casefold
- index/find
-count
-replace

In [146]:
str3 = "Hi Deepak, how are youi"
str3.index('i')  #first occurance

1

In [148]:
str3.index('i',str3.index('i')+1)

22

In [154]:
# strip=lstrip=rstrip =======> remove covering


str1 = 'hello how are you'
str2 = ' hello how are you'
str3 = 'hello how are you '
# I want remove the spaces
# If you want to remove the spaces both sides use strip method
# If you want to remove the spaces only on the left side, then use lstrip: left strip
# If you want to remove the spaces only on the right side, then use rstrip: right strip

print(str2.strip())
print(str2.lstrip())
print(str2.rstrip())

hello how are you
hello how are you
 hello how are you

In [152]:
print(str1.strip())
print(str2.strip())
print(str3.strip())

hello how are you
hello how are you
hello how are you

In [216]:
# WAP to extract
str1 = 'python.anaconda@nareshit.com'
# Extract first name: python
# Extract second name: anaconda 
 
# Extract company name: nareshit

In [306]:
first_dot = str1.index('.')
before_first_word = str1[:first_dot]
print("First Word:",before_first_word)


after_first = str1[first_dot:str1.find('@')]
print("After first dot:",after_first)

second_dot = str1.index('.',first_dot+1)
after_second_word = str1[second_dot+1:]
print("Last Word:",after_second_word)


print("After @ :",str1[str1.find('@')+1:second_dot])

First Word: python
After first dot: .anaconda
Last Word: com
After @ : nareshit

In [320]:
str1 = '3.1489.234'
print(str1[:str1.find('.')])
print(str1[str1.find('.')+1:str1.find('.',str1.find('.')+1)])
print(str1[str1.find('.',str1.find('.')+1)+1:])

3
1489
234

In [338]:
# startswith - endswith



str1 =( "Hi, how are you ")
str1.startswith('Hi')
str1.startswith('H')
str1.startswith('i')
str1.startswith('you')

False

In [340]:
str1.endswith('you')
str1.endswith('')

True

In [342]:
str1.startswith(str1)

True

In [344]:
str1.endswith(str1)

True

In [346]:
dir("")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [428]:
string = '2324eedee'
string.isnumeric()

False

In [430]:
string.isalpha()

False

In [432]:
string.islower()

True

In [436]:
string.isupper()

False

In [456]:
string1 = '@#a123'
string1.isalnum()     # False

# but
string2 = 'a123'
string2.isalnum()    # True

True

In [398]:
# split
string1 = "%%%%Hi how%%% ,are you%%%"
string1.split()
string1.split(",")
string1.split("%")

['', '', '', '', 'Hi how', '', '', ' ,are you', '', '', '']

In [ ]:
# capitalize/upper/lower/casefold
# idex/find
# count
# replace
# lstrip/rstrip/strip
# startwith/startsend
# isalpha/isnumeric/isalnum
# split

In [ ]:
# WAP to identify the longest word and shortest word in a given sentence 

# WAP to identify the most repeated word in a given sentence 

# WAP out of 3 strings 'hyd', 'blr', 'mumbai' which is greater and which is lower

In [1]:
# List =====> array of elements
# Lecture 27&29


string1 = 'python'

In [3]:
list1 = [1,2,3,4]
list1

[1, 2, 3, 4]

In [5]:
list2 = ['A','B','C','D']
list2

['A', 'B', 'C', 'D']

In [7]:
list3 = [1,2,3,4,'A','B','C','D']
list3

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [ ]:
# list elements are heterogeneous datatypes are allowed

In [9]:
list4 = [1,"apple", 10.5, 10+20j, True]
list4

[1, 'apple', 10.5, (10+20j), True]

In [11]:
list5 = [100,100,100]
list5

[100, 100, 100]

In [13]:
list6 = [[1,2,3,4]]
list6

[[1, 2, 3, 4]]

In [ ]:
# list is an array of elements 
# list elements heterogeneous(different) data types are allowed
# duplicates are allowed
# list in list also works

In [15]:
type(list3)

list

In [19]:
max(list1)

4

In [21]:
max(list2)
# ascii ord

'D'

In [25]:
max(list3)   # '>' not supported between instances of 'str' and 'int'

TypeError: '>' not supported between instances of 'str' and 'int'

In [41]:
min(list1)

1

In [43]:
min(list2)

'A'

In [45]:
min(list3)

TypeError: '<' not supported between instances of 'str' and 'int'

In [49]:
print(len(list1))  # 4

4

In [51]:
print(len(list2))  # 4

4

In [53]:
print(len(list3))  # 8

8

In [57]:
print(sum(list1))
# print(sum(list2))  # only maths works no str

10

In [63]:
# in

1 in list1
2 in list1
3 in list1
4 in list1


5 in list1   # false

# using for loop
for i in list1:
    print(i)

1
2
3
4

In [67]:
# concatenation

print(list1 + list2)

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [69]:
new_list = list2 + list1
print(new_list)

['A', 'B', 'C', 'D', 1, 2, 3, 4]

In [73]:
list1/list2
list1*list2
list1+ list2

# unsupported operand type(s) for /: 'list' and 'list'

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [75]:
# index operation
list3

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [83]:
# python index start with zero
list3[0],list3[1],list3[2],list3[3]


# list3[i]
# i = 0,1,2,3

(1, 2, 3, 4)

In [87]:
for i in range(len(list3)):
    print("Positive index is: {} and negative index is {}: for an element".format(i,i-len(list3)),list3[i])

Positive index is: 0 and negative index is -8: for an element 1
Positive index is: 1 and negative index is -7: for an element 2
Positive index is: 2 and negative index is -6: for an element 3
Positive index is: 3 and negative index is -5: for an element 4
Positive index is: 4 and negative index is -4: for an element A
Positive index is: 5 and negative index is -3: for an element B
Positive index is: 6 and negative index is -2: for an element C
Positive index is: 7 and negative index is -1: for an element D

In [95]:
# WAP find the elements which are having len<3

list9 = ["Apple", "Ball", "Cat", "Ab", "Cd", "Ef"]
for i in range(len(list9)):
    if len(list9[i])<3:
        print(list9[i])

Ab
Cd
Ef

In [97]:
for i in list9:
    if len(i) < 3:
        print(i)

Ab
Cd
Ef

In [101]:
# WAP find the elements which are having #

list7 = ["App#le", "Ba#ll", "C#at", "Ab", "Cd", "Ef"]
count = 0
for i in list7:
    if '#' in i:
        count+=1
        print(i)
print(count)

App#le
Ba#ll
C#at
3

In [107]:
list1 = [1,2,3, ["Apple", "Ball"]]
# retrive ball using index
list1[3][1]

'Ball'

In [111]:
list2 = [[[[[[['Cherry']]]]]]]
list2[0][0][0][0][0][0][0]

'Cherry'

In [115]:
list3 = [[[["A","B",[[[1,2,3,['Car']]]]]]]]
list3[0][0][0][2][0][0][3][0]

'Car'

In [117]:
# mutable or immutable

string1 = 'welcome'
string1[2] = 'L'

TypeError: 'str' object does not support item assignment

In [119]:
list1 = ['A','B','C']
list1[0] = 100
list1

[100, 'B', 'C']

In [145]:
list1 = [1,2,3,4,5,'P','Y','T','H','O','N','a','b','c',"D"]
print(list1[2:14:3])  #p
print(list1[2:14:-3]) #np
print(list1[2:-14:3])  #np
print(list1[2:-14:-3]) #p
print(list1[-2:14:3])  #p
print(list1[-2:14:3])  #np
print(list1[-2:-14:-3] ) #p
print(list1[-2:14:-3])  #np

[3, 'P', 'H', 'a']
[]
[]
[3]
['c']
['c']
['c', 'N', 'T', 5]
[]

In [147]:
# methods in list

dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [153]:
# $clear-copy$
list2 = list1.copy()
list2
list1.clear()
print('list1:', list1)
print('list2:', list2)

list1: []
list2: [1, 2, 3, 4, 5, 'P', 'Y', 'T', 'H', 'O', 'N', 'a', 'b', 'c', 'D']

In [157]:
# append == > add something to the end of 


list1 = [100,200]
list1.append(300)
print(list1)

[100, 200, 300]

In [161]:
list1 = []
list1.append(100)
list1.append(200)
list1.append(300)
print(list1)

[100, 200, 300]

In [163]:
list1.append(100,500)

TypeError: list.append() takes exactly one argument (2 given)

In [167]:
list1.append([100,200])
list1.append('apple')
print(list1)

[100, 200, 300, [100, 200], 'apple', [100, 200], 'apple']

In [169]:
list11 = [1,2,3,4,5]
for i in list11: 
    print(i*i)

1
4
9
16
25

In [171]:
# To save the values
list22 = [1,2,3,4,5]
output = []
for i in list22:
    output.append(i*i)

output

[1, 4, 9, 16, 25]

In [208]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [226]:

list2 = ["hydrabad","benguluru","delhi"]

for i in list2:
    print(i.capitalize())

Hydrabad
Benguluru
Delhi

In [228]:
output = []
list3 = ['h#d','bengu#luru','delhi']
for i in list3:
    if '#' in i:
        output.append(i)
output

['h#d', 'bengu#luru']

In [236]:
# list comprehension

# code in a single line ==== > speed the process
list111 = [1,2,3,4,5]
output1 = [i*i for i in list111]
print(output1)

[1, 4, 9, 16, 25]

In [238]:
output11 = [i.capitalize() for i in list2]
output11

['Hydrabad', 'Benguluru', 'Delhi']

In [246]:
# create a list of 20 numbers from 1 to 20
############################ M-1
numbers = []
for i in range(1,21):
    numbers.append(i)
numbers
########################### M-2

opt = [i for i in range(1,21)]
opt

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [3]:
# list comprehension with if conditions

list111 = ['hb#d', 'benguluru', 'de#hli']
output1 = [i for i in list111 if '#' in i]
output1

['hb#d', 'de#hli']

In [5]:
list4 = ['abcd','abc','ac','a']
# elements less than 3
# ['ac','a']

output = [i for i in list4 if len(i)<3]
output

['ac', 'a']

In [17]:
# if else
list1 = [1,2,3,4,5,6]
outp=[]
for i in list1:
    if i%2 == 0:
        outp.append(f'even:{i}')
    else:
        outp.append(f'odd:{i}')
outp

['odd:1', 'even:2', 'odd:3', 'even:4', 'odd:5', 'even:6']

In [23]:
[f'even:{i}' if i%2 == 0 else f'odd:{i}' for i in list1]

['odd:1', 'even:2', 'odd:3', 'even:4', 'odd:5', 'even:6']

In [27]:
list2 = [1,2,3,'A','B','B','B','C']
list2.count('B')

3

In [33]:
# Extend

list1 = ["A","B","C","D"]
list2 = [1,2,3]
list1.extend(list2)
list1
# here list1 will be updated with list2 values

['A', 'B', 'C', 'D', 1, 2, 3]

In [37]:
l= list1+list2
l

['A', 'B', 'C', 'D', 1, 2, 3, 1, 2, 3]

In [41]:
list1 = ["A","B","C","D"]
list2 = [1,2,3]
list1.append(list2)  # Output : ['A', 'B', 'C', 'D', [1, 2, 3]]
list1

['A', 'B', 'C', 'D', [1, 2, 3]]

- append will add the element at last, that the element can be any type

    -list1 = [1,2,3]
    -list2 = ['A','B']
    -list1.append(list2) = [1,2,3,['A','B']]

- extend will update the list by adding new elements, the result also save in a same list

    - list1 = ["A","B","C","D"]
    - list2 = [1,2,3]
    - list1.extend(list2) = ['A', 'B', 'C', 'D', 1, 2, 3]

- concat will add twoo list, but the result will not update in a same list

    - list1 = ["A","B","C","D"]
    - list2 = [1,2,3]
    - l= list1+list2
    - l = ['A', 'B', 'C', 'D', 1, 2, 3, 1, 2, 3]

# iterator

- iterator word ======= > loop

- the elements we can print using for loop

- string = 'python'  we can print each letter using for loop

- list1 = [1,2,3] we can print each element using for loop

In [45]:
val = reversed('python')
val

for i in val:
    print(i)

n
o
h
t
y
p

In [49]:
list1 = [1,2,3]
list1.extend('python')
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n']

In [89]:
list2 = [1,2,3]
list2.append('python')
list2

[1, 2, 3, 'python']

In [91]:
# pop & remove & del

list2

[1, 2, 3, 'python']

In [95]:
list1.pop(100)

IndexError: pop index out of range

In [93]:
list2.pop()
# in side bracket default argument is there index = -1
# -1 means last value 
# if you not provide any value
# it will remove last value
# if i provide any index, it will remove that element

# it is also returning, which element it is removing

'python'

In [109]:
list1 = [100,200,100,300]  # duplicate are allowed
list1.remove(100)          # first occurance will be gone
list1                      # it will not return any value

[200, 100, 300]

In [111]:
del(list1)

In [113]:
list1

NameError: name 'list1' is not defined

In [117]:
list1 = [100,200,300,100]
del list1[3]   # del is keyword
list1

[100, 200, 300]

In [119]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# index & insert

- index

- insert

- reverse  ======== reversed

- sort   ========= sorted

In [141]:
list1 = [100,100,200,300,400]
list1.index(100)

0

In [143]:
list1.insert(3,500)
list1.insert(3,"A")
list1

[100, 100, 200, 'A', 500, 300, 400]

In [155]:
# list1.reverse(-1)  # list.reverse() takes no arguments (1 given)
list1.reverse()
list1

[400, 300, 500, 'A', 200, 100, 100]

In [167]:
list2 = [1,34,65,7,8,9,5,43,3,42]
list2.sort()
list2

[1, 3, 5, 7, 8, 9, 34, 42, 43, 65]

In [171]:
list1 = ['RAM', 'ROBERT','RAHEEM']
list2 = [25,30,35]
for i,j in zip(list1,list2):
    print(f'{i} age is {j}')

RAM age is 25
ROBERT age is 30
RAHEEM age is 35

In [177]:
list1 = [100,200,300]
list2 = [25,30,35]
# for i,j in zip(list1,list2):
#     print(i+j)
output = [i+j for i,j in zip(list1,list2)]
output

[125, 230, 335]

In [181]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [193]:
# Take 5  questions in list1
# take corresponding 5 answers in another list2
# iterate through list1
# every question should print
# answer = input("Tell the answer")
# answer will check in list2
# if it is there: marks = marks+1
# else: no maraks




list1 = ['What is your favorite food?', 'Who is your favorite actress?', 'What is your pet name?']
list2 = ['Roti', 'Rashmika', 'Moon']
marks = 0

print("Welcome to the Quiz!\n")

for i in range(len(list1)):
    print(f"Question {i+1}: {list1[i]}")
    answer = input("Your answer: ").strip().capitalize()  # Standardize input format
    
    # Check if answer matches corresponding answer in list2
    if answer == list2[i]:
        print("Correct!\n")
        marks += 1
    else:
        print(f"Wrong! The correct answer is: {list2[i]}\n")

print(f"\nTotal marks obtained: {marks} out of {len(list1)}")

What is your favorite food?

Enter the answer roti

ValueError: 0 is not in list

In [1]:
list1 = [1,2,3]
list2 = ['Ram','Raheem','Robert']
for i,j in zip(list1,list2):
    print(i,j)

1 Ram
2 Raheem
3 Robert

In [ ]:
# {key:value}

In [27]:
d1 = {'Ram':25,"Raheem":30,"Robert":35}

d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [5]:
d2 = {25: "Ram", 30: "Raheem", 35:"Robert"}
d2

{25: 'Ram', 30: 'Raheem', 35: 'Robert'}

In [7]:
d3 = {'even' : [2,4,6],
         'odd': [1,3,5]}
d3

{'even': [2, 4, 6], 'odd': [1, 3, 5]}

In [9]:
d4 = {[2,4,6] : 'even',
         [1,3,5]: 'odd'}
d4

TypeError: unhashable type: 'list'

In [11]:
d3 = {'even' : (2,4,6),
         'odd': (1,3,5)}
d3

{'even': (2, 4, 6), 'odd': (1, 3, 5)}

In [13]:
d4 = {(2,4,6) : 'even',
         (1,3,5): 'odd'}
d4

{(2, 4, 6): 'even', (1, 3, 5): 'odd'}

In [ ]:
a = [1,2]
b = (1,2)

In [19]:
a,b = [1,2]
c,d = (1,2)

1

In [21]:
a = 1,2
a

(1, 2)

In [29]:
d1 = {'A':1,'B':2,"C":3}
d1

{'A': 1, 'B': 2, 'C': 3}

- Dictionary is a key: value pair

- at values position you can take any data types

- but at keys positons list and dictionary will fail

- duplicates are not allowed

- if you will update a key value,latest value it will take

In [31]:
# type

type(d1)

dict

- str
- list
- dict
- int
- float
- bool
- complex
- tuple
- set

In [41]:
d1 = {'Ram':25,"Raheem":30,"Robert":35}

max(d1)

'Robert'

In [43]:
d1 = {'Ram':25,"Raheem":30,"Robert":35}

min(d1)

'Raheem'

In [45]:
len(d1)

3

In [47]:
sum(d1)   # unsupported operand type(s) for +: 'int' and 'str'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [51]:
d2 = {5:2,3:4}
sum(d2)  # key are important than values

8

- maximum and minimum are based on key
- if keys have numeric value then we can do sum

In [79]:
# in operator

d1 = {'Ram':25,"Raheem":30,"Robert":35}

for i in d1:
    print(i)  # key will be printed

Ram
Raheem
Robert

In [91]:
# index
d1 = {'Ram':25,"Raheem":30,"Robert":35}

d1['Ram']

25

In [93]:
# Creating a empty dictionary and update

s = ""
for i in 'apple':
    s = s + i
print(s)

apple

In [99]:
l = [i for i in range(10)]
l = []
# for i in range(10):
#     l.append(i)
l

[]

In [101]:
d1 = {}
d1['fruit'] = 'apple'
d1

{'fruit': 'apple'}

In [107]:
d2 = {}
d2['Name'] = 'Deepak'
d2['Roll No.'] = '7'
d2['Address'] = 'Pokhara'
d2

{'Name': 'Deepak', 'Roll No.': '7', 'Address': 'Pokhara'}

In [135]:
names = ['Ram',"Raheem","Robert"]
age = [25,30,35]
dict1 = {}
for i,j in zip(names,age):
    dict1[i] = j
dict1
#################################################
dict1 = {names:age for names,age in zip(names,age)}

In [137]:
dict2 = {}
for i in range(len(names)):
    dict2[names[i]] = age[i]
dict2
##############################################
dict2 = {names[i]:age[i] for i in range(len(names)) }
dict2

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [125]:
dict2 = {names[i]:age[i] for i in range(len(names)) }
dict2

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [229]:
# WAP take 5 random numbers
# and create a dictionary with even and odd
# output: {"even": [20,22],'odd':[19,21,23]}
n = {}
import random
even = []
odd = []
for i in range(5):
    numbers = random.randint(19,23)
    if numbers % 2 == 0:
        even.append(numbers)
    else:
        odd.append(numbers)
n['even'] = even
n['odd'] = odd
n

{'even': [20, 20, 22], 'odd': [21, 23]}

In [221]:
dir(random)

['BPF',
 'LOG4',
 'NV_MAGICCONST',
 'RECIP_BPF',
 'Random',
 'SG_MAGICCONST',
 'SystemRandom',
 'TWOPI',
 '_ONE',
 '_Sequence',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_accumulate',
 '_acos',
 '_bisect',
 '_ceil',
 '_cos',
 '_e',
 '_exp',
 '_fabs',
 '_floor',
 '_index',
 '_inst',
 '_isfinite',
 '_lgamma',
 '_log',
 '_log2',
 '_os',
 '_pi',
 '_random',
 '_repeat',
 '_sha512',
 '_sin',
 '_sqrt',
 '_test',
 '_test_generator',
 '_urandom',
 '_warn',
 'betavariate',
 'binomialvariate',
 'choice',
 'choices',
 'expovariate',
 'gammavariate',
 'gauss',
 'getrandbits',
 'getstate',
 'lognormvariate',
 'normalvariate',
 'paretovariate',
 'randbytes',
 'randint',
 'random',
 'randrange',
 'sample',
 'seed',
 'setstate',
 'shuffle',
 'triangular',
 'uniform',
 'vonmisesvariate',
 'weibullvariate']

In [235]:
import os

In [237]:
os.getcwd()

'/Users/mac/Desktop/Data Science Course/Full Stack Data '

dictionary method

In [239]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

items- keys- values

In [241]:
d1 = {'Ram':25,"Raheem":30,"Robert":35}

d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [261]:
# items
items = d1.items()
items

dict_items([('Ram', 25), ('Raheem', 30), ('Robert', 35)])

In [257]:
type(items)

dict_items

In [263]:
# keys
keys = d1.keys()
keys

dict_keys(['Ram', 'Raheem', 'Robert'])

In [265]:
type(keys)

dict_keys

In [267]:
# values
values = d1.values()
values

dict_values([25, 30, 35])

In [269]:
type(values)

dict_values

In [255]:
l1 = [25,30,35]
l1.append(400)
l1

[25, 30, 35, 400]

In [271]:
keys_list = list(keys)
keys_list

['Ram', 'Raheem', 'Robert']

In [273]:
d1 = {'Ram':25,"Raheem":30,"Robert":35}
keys = list(d1.keys())
values = list(d1.values())

In [275]:
keys,values

(['Ram', 'Raheem', 'Robert'], [25, 30, 35])

In [283]:
dict1 = {}
for i in range(len(keys)):
    d1[keys[i]] = values[i]
d1
# {i:j for i,j in zip(keys,values)}

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [285]:
dict(zip(keys,values

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [382]:
str2 = 'can can you canner can you able to can canner'
l1 = str2.split(' ')
d = {}
for i in l1:
    d[i] = l1.count(i)
d

{'can': 4, 'you': 2, 'canner': 2, 'able': 1, 'to': 1}

In [358]:
str1 = 0
d1 = {}
f_name = [str1[:str1.find('.')] for str1 in s1.split(',')]
s_name = [str1[str1.find('.')+1:str1.find('@')] for str1 in s1.split(',')]
company = [str1[str1.find('@')+1:str1.find('.',str1.find('.')+1)] for str1 in s1.split(',')]
d1['f_name'] = f_name
d1['s_name'] = s_name
d1['company'] = company
d1

{'f_name': ['virat', 'rohit', 'kl'],
 's_name': ['kholi', 'sharma', 'rahul'],
 'company': ['blr', 'mumbai', 'lucknow']}

In [422]:
d1 = {'a' : 20,'b': 30,'c':40}
d2 = {'a' :50,'b':100,'c':200,'d':500,'e':600}
if len(d1) == len(d2):
    for i in d2:
        d1[i]+=d2[i]
d2

{'a': 50, 'b': 100, 'c': 200, 'd': 500, 'e': 600}

clear & copy

In [38]:
d = {'a' : 20,'b': 30,'c':40}
d5 = {'a' :50,'b':100,'c':200,'d':500,'e':600}
d=d5.copy()
d5.clear()
print(d)
print(d5)

{'a': 50, 'b': 100, 'c': 200, 'd': 500, 'e': 600}
{}

pop- popitem-del

- what is pop

    - pop will remove specify key

    - return item by removing the specified key and value
 
    - returning only the value
- what is popitem

    - automatically remove the last item default
 
    - returning the pair
 
    - don't take argument but remove default

    
- what is del
  
    - del is a keyword

    - it can delete an item providing key

In [40]:
d.pop('a')

50

In [34]:
d

{}

In [42]:
d.popitem()

('e', 600)

In [44]:
d

{'b': 100, 'c': 200, 'd': 500}

In [48]:
del d['c']

In [50]:
d

{'b': 100, 'd': 500}

- items/values/keys

- if I provide two lists you know how to make dict

- if I provide dict you know how to make two list

In [52]:
# fromkeys-get


d1 = {'a':20,'b':30,'c':40,'d':50}
d1['b']

30

In [54]:
d1.get('b')

30

In [56]:
d1.get('z')

In [58]:
d1('z')

TypeError: 'dict' object is not callable

- how many ways we can do

- what output it is returning

- what is the difference between 

- we can access the values by providing key as index and key in get method

- but if the key is not present in the dictionary, key as index will give key error

- get method will not return anything and no error

In [62]:
d2 = d1.fromkeys('Raheem') 
d2
 # concept of iterable as same as the for loop

{'R': None, 'a': None, 'h': None, 'e': None, 'm': None}

In [64]:
d3 = {}.fromkeys([1,3,5],'odd')
d3

{1: 'odd', 3: 'odd', 5: 'odd'}

$ set as default$

In [66]:
d

{'b': 100, 'd': 500}

In [72]:
d.setdefault('Deepak','admin')
d.setdefault('Gautam','user')

'user'

In [74]:
d

{'b': 100, 'd': 500, 'Deepak': 'admin', 'Gautam': 'user'}

In [76]:
d5 = {}
d5['nareshit'] = 'DS'
d5['city']

KeyError: 'city'

In [96]:
# update


d1 = {'a': 345,'b': 456,'c': 676}
d2 = {'b': 545, 'e': 676}
d1.update(d2)
print(d1)

{'a': 345, 'b': 545, 'c': 676, 'e': 676}

update method will update  a dictionary with elements from another dictionary.
It modifies the dictionary, doesnot take duplicate

In [92]:
d

{'b': 100, 'd': 500, 'Deepak': 'admin', 'Gautam': 'user'}

In [98]:
t1 = [(1,2),(3,4)]
d1 = {}
d1.update(t1)
d1

{1: 2, 3: 4}